<template name="home">

<div class="container-fluid">
<div class="row">
<div class="col-xs-12 col-md-12 header-style">
<a href="/" class="header text-style"> BukSu Student Handroid</a>
</div>
  <div class="col-xs-4 col-md-4">
    <a href="/CampusMap" class="thumbnail">
      <img src="img/map.png" alt="Map">
    </a>

  </div>
  <div class="col-xs-4 col-md-4">
    <a href="/Find" class="thumbnail">
      <img src="img/search.png" alt="Find">
    </a>
  </div>
  <div class="col-xs-4 col-md-4">
    <a href="/CodeOfConduct" class="thumbnail">
      <img src="img/codeEthics.png" alt="Code of Conduct">
    </a>
  </div>
  <div class="col-xs-4 col-md-4">
    <a href="/StudentServiceAndFacilities" class="thumbnail">
      <img src="img/facilities.png" alt="Student Service and Facilities">
    </a>
  </div>
  <div class="col-xs-4 col-md-4">
    <a href="/Courses" class="thumbnail">
      <img src="img/course.png" alt="Curricular Activities">
    </a>
  </div>
  <div class="col-xs-4 col-md-4">
    <a href="/About" class="thumbnail">
      <img src="img/about.png" alt="About the University">
    </a>
  </div>
	</div>

	</div>

</template>